2.0/Assist/Hello_CARDS/Hello_CARDS_2.0.rnc

# Version 1.0
start = ReportingModule
ReportingModule = element ReportingModule {external "Metadata_Schema_2.0.rnc", DataElements, Rules, EndPoints }
Citation =
    element Citation {
        attribute PubmedId { xsd:token }?,
        attribute Url { xsd:anyURI }?,
        text
    }+
# definitions for other parts of the schema
codingSystemAttr = attribute CodingSystem { text }
codeAttrs =
    codingSystemAttr?,
    attribute Code { xsd:token }
Diagnosis = element Diagnosis { codeAttrs, text }
# Exam = element Exam { codeAttrs, text } #this is not being used anywhere, but should be used in Followup Exams
Modality = element Modality { codeAttrs }
BodyRegion = element BodyRegion { codeAttrs }
imageElements =
    element Location { text },
    element Label { text }?
# start of the next Section Data Elements
DataElements = element DataElements { DataElementTypes+ }
DataElementTypes =
    ChoiceDataElement
    | NumericDataElement
    | IntegerDataElement
    | MultiChoiceDataElement
    | GlobalValue
    | ComputedDataElement
    | DateTimeDataElement   
    | TimeSpanDataElement
     
GlobalValue =
    element GlobalValue {
        attribute Id { xsd:ID },
        text
    }
Diagrams =
    element Diagrams {
        element Diagram {
            element Location { text },
            element Label { text },
            attribute DisplaySequence { xsd:integer }?,
            attribute IsKeyDiagram { "true" | "false" }?
        }+
    }
DisplaySequence =
    attribute DisplaySequence {
        xsd:integer { minInclusive = "0" }
    }
    
baseElementContents =
    attribute Id { xsd:ID },   
    attribute IsRequired { "true" | "false" }?,
    DisplaySequence?,
    CodableConcept?,
    element Label { text },
    element Hint { text }?,
    Diagrams?,
    element VoiceCommand { text }?,
    attribute Editable { "true" | "false" }?,
    attribute Hasprefilled { "true" | "false" }?,
    attribute Output { "true" | "false" }?,
    attribute Unit { text }?,
    attribute SourceFilled { text }?  
    
    CodableConcept = element CodableConcept{
    attribute Name {text } ,
    Coding+
    }
    
    Coding = element Coding{
         element System { attribute Value{"RadElement" | "Loinc" | "SnomedCT" } },
         element Version { attribute Value{text}},
         element Code { attribute Value{xsd:token}},
         element Display { attribute Value{text}},
         element UserSelected { attribute Value{"true" | "false"}} ?
    }+
    
ChoiceNotRelevant =  element ChoiceNotRelevant
{
  attribute ChoiceValue {text}, 
  empty
}

baseConditionalPropertyContents =
      ConditionType,
      element IsRelevant {"true" | "false" }?,
      element IsRequired {"true" | "false" }?,
      element DisplaySequence {xsd:integer}?

choiceConditionalProperty = element ConditionalProperty { 
        baseConditionalPropertyContents,
        ChoiceNotRelevant?
    }

numericConditionalProperty = element ConditionalProperty {
      baseConditionalPropertyContents,
      element Minimum {xsd:decimal}?,
      element Maximum {xsd:decimal}?	  
}

integerConditionalProperty = element ConditionalProperty {
      baseConditionalPropertyContents,
      element Minimum {xsd:integer}?,
      element Maximum {xsd:integer}?	  
}

datetimeConditionalProperty = element ConditionalProperty {
      baseConditionalPropertyContents,
      element MinimumDate {xsd:dateTime}?,
      element MaximumDate {xsd:dateTime}?	  
}

durationConditionalProperty = element ConditionalProperty {
      baseConditionalPropertyContents,
      element MinimumDay {xsd:integer}?,
      element MaximumDay {xsd:integer}?,	  
	  element MinimumHours {xsd:integer}?,
	  element MaximumHours {xsd:integer}?,
	  element MinimumMinutes {xsd:integer}?,
	  element MaxmimumMinutes {xsd:integer}?
}

computedValue =
    element ArithmeticExpression { text }
    | element TextExpression { (text | InsertValue)* }
valueBranches =
    element Branch { ConditionType, (computedValue | valueDecisionPoint) }+,
    element DefaultBranch { computedValue | valueDecisionPoint }?
valueDecisionPoint = element DecisionPoint { valueBranches }
ComputedDataElement =
    element ComputedDataElement {
        attribute Id { xsd:ID },
        DisplaySequence?,
        attribute ShowValue { "true" | "false" }?,
        element Label { text }?,
        element Hint { text }?,
        Diagrams?,
        (computedValue | valueDecisionPoint)
    }
NumericDataElement =
    element NumericDataElement {
        baseElementContents,
        element Minimum { xsd:decimal }?,
        element Maximum { xsd:decimal }?,
        element ConditionalProperties { numericConditionalProperty+ }?
    }
IntegerDataElement =
    element IntegerDataElement {
        baseElementContents,
        element Minimum { xsd:integer }?,
        element Maximum { xsd:integer }?,
        element ConditionalProperties { integerConditionalProperty+ }?
    }
    
 DateTimeDataElement = 
     element DateTimeDataElement {
          baseElementContents
          #element ConditionalProperties { datetimeConditionalProperty+ }?
          #element Format { text }
      }
      
 #DurationDataElement = 
 TimeSpanDataElement =
    element TimeSpanDataElement {
            baseElementContents,
			element MinimumDay {xsd:integer}?,
			element MaximumDay {xsd:integer}?,	  
			element MinimumHours {xsd:integer}?,
			element MaximumHours {xsd:integer}?,
			element MinimumMinutes {xsd:integer}?,
			element MaxmimumMinutes {xsd:integer}?
            #element ConditionalProperties { durationConditionalProperty+ }?
        }
    
Choice =
    element Choice {
        element Value { xsd:token },
        element Label { text },
        element Hint { text }?,
        element VoiceCommand { text }?,
        attribute IsDefault { "true" | "false" }?,
        element ReportText { text }?
    }
ChoiceInfo = element ChoiceInfo { Choice, Choice+ }
imageMapStyleAttributes =
    attribute Outline { text }?,
    attribute HoverFill { text }?,
    attribute SelectedFill { text }?
ImageMap =
    element ImageMap {
        imageElements,
        element DrawStyle { imageMapStyleAttributes, empty }?,
        element Map {
            element Area {
                attribute Shape { "rect" | "poly" | "circle" },
                attribute Coords { text },
                attribute ChoiceValue { xsd:token },
                imageMapStyleAttributes,
                empty
            }+
        }
    }
ChoiceDataElement =
    element ChoiceDataElement {
        attribute AllowFreetext { "true" | "false" }?,
        baseElementContents,
        ChoiceInfo,        
        ImageMap?,
        element ConditionalProperties { choiceConditionalProperty+ }?
    }
MultiChoiceDataElement =
    element MultiChoiceDataElement { 
    baseElementContents, 
    ChoiceInfo,    
    ImageMap?,
    element ConditionalProperties { choiceConditionalProperty+ }?
    }
    
# Start of next section (RULES)
ConditionType = AndCondition | OrCondition | NotCondition
ConditionType |= EqualCondition | GreaterThanCondition | LessThanCondition
ConditionType |= GreaterThanOrEqualsCondition | LessThanOrEqualsCondition
ConditionType |= ContainsCondition | HasAnyNChoicesCondition
AndCondition = element AndCondition {
#ConditionType, 
ConditionType+ }
OrCondition = element OrCondition { 
#ConditionType, 
ConditionType+ }
NotCondition = element NotCondition { ConditionType+ }
dataElementIdAttribute = attribute DataElementId { xsd:IDREF }
comparisonConditionContents =
    dataElementIdAttribute,
    attribute ComparisonValue { xsd:token }
EqualCondition = element EqualCondition { comparisonConditionContents }
GreaterThanCondition = element GreaterThanCondition { comparisonConditionContents }
LessThanCondition = element LessThanCondition { comparisonConditionContents }
GreaterThanOrEqualsCondition = element GreaterThanOrEqualsCondition { comparisonConditionContents }
LessThanOrEqualsCondition = element LessThanOrEqualsCondition { comparisonConditionContents }
HasAnyNChoicesCondition =
    element HasAnyNChoicesCondition {
        dataElementIdAttribute,
        attribute MinimumChoices { xsd:positiveInteger }
    }
ContainsCondition =
    element ContainsCondition {
        dataElementIdAttribute,
        attribute ComparisonValue { xsd:token }
    }
Rules = element Rules { DecisionPoint }
# { branchModifiers, DecisionPoint }
DataElementRef =
    element DataElementRef {
        attribute DataElementId { xsd:IDREF },
        empty
    }
ChoiceRef =
    element ChoiceRef {
        attribute DataElementId { xsd:IDREF },
        attribute ChoiceValue { xsd:token },
        empty
    }
#branchModifiers =
    # element RequiredDataElements { DataElementRef+ }?, 
   # element NotRelevantDataElements { DataElementRef+ }?
# element RelevantDataElements { DataElementRef+ }?,
# element NotValidChoices { ChoiceRef+ }?

DecisionPoint =
    element DecisionPoint {
        attribute Id { xsd:ID },
        element Label { text },
        element Description { text }?,
        # HtmlContent -> text
        # element DescriptionImage { imageElements }?,
        element Branch {
            element Label { text }?,
          #  branchModifiers,
            ConditionType,
            (EndPointRef | DecisionPoint)
        }+,
        element DefaultBranch {
            element Label { text }?,
           # branchModifiers,
            (EndPointRef | DecisionPoint)
        }?
    }
# Begin ENDPOINTS Section
EndPointRef =
    element EndPointRef {
        attribute EndPointId { xsd:IDREF },
        element Label { text }?,
        element Description { text }?
    }
EndPoints =
    element EndPoints {
        element TemplatePartial {
            attribute Id { xsd:ID },
            TextTemplateContent
        }*,
        element EndPoint {
            attribute Id { xsd:ID },
            element Label { text }?,
            # (element ErrorMessage { text } | 
            #  (         
            Diagnosis?,
            ReportTexts,
            ActionableFinding?,
            ImagingFollowup?
        }+
    }
ReportTexts = element ReportTexts { ReportText+ }
ReportText = element ReportText { sectionIdAttr, TextTemplateContent }+
sectionIdAttr =
    attribute SectionId {
        "findings" | "impression" | "recommendation" | "impressionRecommendation" | "citation"
    }
recommendationBase =
    element ClinicalCondition { text }?,
    element References { Citation+ }?,
    element EvidenceLevel { codingSystemAttr, xsd:token }?
timeFrame =
    element RecommendedTimeFrame {
        attribute Earliest { xsd:duration },
        attribute Latest { xsd:duration }?,
        empty
    }
ImagingFollowup =
    element ImagingFollowup {
        recommendationBase,
        element PreferredImagingExam { codeAttrs, text },
        element AcceptableImagingExams { Exam+ },
        element IndicationForFollowup { codeAttrs, text },
        timeFrame
    }
ActionableFinding =
    element ActionableFinding {
        attribute Category { text },
        empty
    }
Exam =
    element Exam {
        attribute Code { text },
        attribute CodeSystem { text },
        attribute Modality { text },
        attribute BodyRegion { text },
        text
    }
    

TextTemplateContent = (text | templateTags)*
templateTags =
    InsertValue | InsertPartial | SectionIf | SectionIfNot | SectionIfValue | SectionIfValueNot
   
SectionConditions = SectionIf+ | SectionIfNot+ | SectionIfValue+ | SectionIfValueNot


InsertValue =
    element InsertValue {
        attribute DataElementId { xsd:IDREF },
        attribute SignificantDigits { xsd:integer }?,
        empty
    }
InsertPartial =
    element InsertPartial {
        attribute PartialId { xsd:IDREF },
        empty
    }
SectionIf =
    element SectionIf {
        attribute DataElementId { xsd:IDREF },
        TextTemplateContent?
    }?
SectionIfValue =
    element SectionIfValue {
        attribute DataElementId { xsd:IDREF },
        attribute ComparisonValue { xsd:token },
        TextTemplateContent?
    }?
SectionIfNot =
    element SectionIfNot {
        attribute DataElementId { xsd:IDREF },
        TextTemplateContent
    }?
SectionIfValueNot =
    element SectionIfValueNot {
        attribute DataElementId { xsd:IDREF },
        attribute ComparisonValue { xsd:token },
        TextTemplateContent
    }?
